#user-gesture-overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    cursor: pointer;
  }

  .background{
    background-color: #f2c185;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    

  }
  
  #loading-animation {
    width:95%;
    height: auto;

  }

  #user-gesture-button {
    display:flex;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #146A8C;
    color: #ffffff;
    border: none;
    padding-left: 3.3rem;
    padding-right: 3.3rem;
    padding-top: 0.7rem;
    padding-bottom:0.7rem;
    border-radius: 0.4rem;
    text-align: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    z-index: 9999999999;
  }
  
  #user-gesture-button:hover{
    background-color: #011C40;
    border-color: #011C40;
    transition: background-color 0.4s ease;
  }



  .continue-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #011C40;
    line-height: 1.3rem;
    
  }

  .continue-title{
    padding-bottom: 1.5rem;
  }


  .continue-sub-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #011C40;
    padding-bottom: 20px;
  }
  
  #continue-container{
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    z-index: 999999999999;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    background-color: #ffffff00;
  }

  .continue-parent{

    display: flex;
    flex-direction: column;
    z-index: 9999;
    width: 930px;
    height: 580px;
    margin: 0;
    background: #fffaf3e8;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    padding-left:4.5rem;
    padding-right:4.5rem;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    z-index: 999999999999;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .continue-child{
    flex: 1 1 100%;
    color: #011C40;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 0rem;
    z-index: 999999999999;

  }

  .instructions{
      
    display: flex;
    position: relative;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    color: #011C40;
    
    
  }

  .keys-image, .mouse-image{
    padding-top: 30px;
    padding-bottom: 60px;
 
    
  }

  .line{
    height: 100px;
    width:100%;
    text-align:left;
    margin-left:0;
    border-top: 2px solid #011C40;
  }


  

  /* @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) */
    @media only screen and (max-width: 1300px)
    {
    
      #continue-container{

        z-index: 999999999999;
        overflow-y: scroll;
        padding-top: 150px;
        padding-bottom: 50px;
      }

      #continue-container::-webkit-scrollbar {
        display: none;
    }
    
      .continue-parent{
    
        display: flex;
        flex-direction: column;
        z-index: 9999;
        width: 950px;
        margin: 0;
        z-index: 999999999999;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    
      .continue-child{
        flex: 1 1 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        z-index: 999999999999;
        color: #011C40;
    
    }
  }

  @media only screen and (max-height: 600px)
    {
    
      #continue-container{

        z-index: 999999999999;
        overflow-y: scroll;
        padding-top: 260px;
        padding-bottom: 50px;
      }
    
  }